<div class="topimage">
	<%= image_tag("toppage.jpg",:width => "100%",:height => "500") %>
</div>
<div class="container-fluid">
		 
	<div class="row">
		<div class="col-md-4 col-sm-4 topguide text-center">
		 <div class="glyphicon glyphicon-calendar" style="font-size:35px"><br>
		  <div class="topguidemozi" >
		 	相手と自分な時間に調整することができます
		   </div>
		 </div>
			
		</div>
		<div class="col-md-4 col-sm-4 topguide text-center">
		 <div class="glyphicon glyphicon-circle-arrow-up" style="font-size:35px"><br>
		 <div class="topguidemozi" >
		  相手の力を借りて新しい知識を建てることができます
		  </div>
		  </div>
		 </div> 



		<div class="col-md-4 col-sm-4 topguide text-center">
		<div class="glyphicon glyphicon-comment" style="font-size:35px"><br>
		<div class="topguidemozi" >
			気軽に教えたり、教えってもらったりできます。
			</div>
		</div>
		</div>
	</div>
</div>
<footer>
   <div class="footdesign">
    <div clsss="text-center", id="footmozi">
    タイムシェア
    </div>
  </footer>

   <ul class="list-group">
    <li class="list-group-item" id="stripe-oauth">
      <!-- Call stripe controller's oauth action -->
      <p>下のボタンをクリックした後、情報を入力することで銀行口座を登録できます。</p>
      <%= link_to stripe_oauth_path do %>
        <%= image_tag "blue-on-light.png"%>    
      <% end %>
    </li>
  </ul> 

 